/*
@font-face {
    font-family: 'cloudbold';
    src: url('../fonts/cloud-bold-webfont.woff2') format('woff2'),
        url('../fonts/cloud-bold-webfont.woff') format('woff'),
        url('../fonts/cloud-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cloudlight';
    src: url('../fonts/cloud-light-webfont.woff2') format('woff2'),
        url('../fonts/cloud-light-webfont.woff') format('woff'),
        url('../fonts/cloud-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cloudregular';
    src: url('../fonts/cloud-regular-webfont.woff2') format('woff2'),
        url('../fonts/cloud-regular-webfont.woff') format('woff'),
        url('../fonts/cloud-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'cloudsemibold';
    src: url('../fonts/cloud-semibold-webfont.woff2') format('woff2'),
        url('../fonts/cloud-semibold-webfont.woff') format('woff'),
        url('../fonts/cloud-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
*/
/*
:root {
    --white: #fff;
    --black: #3a3a3a;
    --lightgray: #eee;
    --gray: #7c7c7c;
    --yellow: #ffcd0a;
    --blue: #637fbd;
    --g1: #e7e8eb;
    --g2: #6d6e72;
    --blue2: #3f5ca0;
    --blue3: #2e85c6;
    --redtxt: #fc2f00;
}

.redtxt {
    color: var(--redtxt);
}

.blacktxt {
    color: var(--black);
}

.lightgray {
    color: var(--gray);
}


*:focus,
*:active {
    outline: 0 !important;
    box-shadow: none !important;
}

body {
    animation: fade-in 1s, bg-move 10s linear infinite;
    -webkit-animation: fade-in 1s, bg-move 10s linear infinite;
    font-size: 12px;
    font-family: 'cloudregular', sans-serif;
    color: var(--black);

    background-color: white !important;
}

oz-selection {
    background: rgba(0, 0, 0, 0.2);
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
}

ol,
ul {
    margin: 0 !important;
    padding: 0 !important;
}
*/
.title_order {
    margin-top: 50px;
    margin-left: 50px;
}

.title_order h1 {
    font-size: 3em;
    margin-bottom: 0rem !important;
}

.title_order span {
    color: var(--gray);
    font-size: 1.3em;
    margin-top: -5px;
    display: block;
}
/*
.display-slide {
    display: none;
}
*/
.order_status {
    margin-top: 20px;
    margin-left: 40px;
}

.list_status_sec ul li,
.order_status li {
    list-style: none;
    display: inline-block;
    margin-right: 8px;
    border-radius: 5px;
    padding: 3px 9px;
    font-size: 0.9em;
    font-family: 'cloudsemibold';
}

.list_status_sec ul li a,
.order_status li a {
    color: var(--black);
    text-decoration: none;
}

.bluetxt,
.ordernumber {
    color: blue;
}

/*
.tag_address{
    background-color: var(--black);
    color: var(--white);
    border-radius: 50px;
    font-size: 0.75em;
    padding: 3px 10px;
    font-weight: 500;
    vertical-align: middle;
    display: inline-block;
    position: relative;
    margin-top: -10px;
}
.title_each_detail{
    border-bottom: 6px solid var(--g1);
    font-weight: bold;
    margin-bottom: 10px;
}

.detaillist li{
    list-style: none;
    font-size: 0.85em;
    font-weight: bold;
}
.details_order li{
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
*/
.select_print {
    margin-right: 15px;
    margin-left: 50px;
}

.selectbox_status .dropdown button {
    background-color: var(--g1);
    color: var(--g2);
    width: 100%;
    text-align: center;
    padding: .375rem .75rem;
    border-radius: 5px;
    border: 1px solid var(--g1);
    font-size: 0.9em;
}

.select_print .form-check-label {
    font-size: 1.1em;
    font-weight: bold;
    color: var(--black);
}

.select_print .dropdown button {
    border: 1px solid var(--blue);
    cursor: pointer;
    font-size: 0.9em;
    width: 100%;
    text-align: left;
    background-color: var(--blue);
    padding: .375rem .75rem;
    border-radius: 5px;
    color: var(--white);

}

.dropdown-menu.show {
    width: 100%;
}

.dropdown-item {
    font-size: 0.8em;
}

.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 15px;
}

.table_box_c {
    margin-left: 100px;
}

.status_track_footer td,
.table_box_c thead tr {
    background-color: var(--g1);
    margin-left: 50px !important;
    width: 100%;
}

.productcontent h4 {
    font-size: 1em;
    font-family: 'cloudbold';
    margin-bottom: 0px;
}

.smtxt {
    font-size: 0.8em;
    font-family: 'cloudsemibold';

}

.smtxtg {
    color: var(--gray);
    font-size: 0.8em;
    font-family: 'cloudsemibold';

}

.smtxtg2 {
    color: var(--gray);
    font-size: 1em;
    font-family: 'cloudsemibold';

}

.bigprice {
    font-family: 'cloudbold';
    font-size: 1.2em;
    margin-bottom: 0px;
}

.table_box_c img {
    width: 80px;
}
/*
.productcontent {
    margin-left: 15px;
}

.bornone td {
    border: none;
}

.btn-cancel {
    background-color: var(--white);
    border: 1px solid var(--black);
    color: var(--black);
    font-size: 0.9em;
    padding: 3px 8px;
}

.btn-print {
    background-color: var(--g1);
    color: var(--g2);
    font-size: 0.9em;
    padding: 3px 8px;
}

.btn_pint_group {
    margin-left: 10px;

}
*/
.btn-cancel-invoice:hover {
    background-color: var(--gray);
    color: var(--white);
}

.btn-cancel-invoice {
    background-color: var(--g1);
    color: var(--g2);
    font-size: 0.9em;
}

.btn-sq-blue:hover,
.btn-confirm:hover {
    background-color: var(--blue2);
    color: var(--white);
}

.btn-confirm {
    background-color: var(--blue);
    color: var(--white);
    font-size: 0.9em;
}
/*
.table-invoice-fill th,
.table-invoice-fill td {
    border: 2px solid var(--g1);
}

.group_bottom {
    margin-top: 50px;
}

.btn-sq-no {
    color: var(--black);
    border: 2px solid var(--g1);
    border-radius: 0px;
    font-size: 0.9em;
    font-weight: bold;
}

.btn-sq-blue {
    border-radius: 0px;
    background-color: var(--blue);
    color: var(--white);
    font-size: 0.9em;
}

.btn-gray-sq {
    border: 2px solid var(--g1);
    border-radius: 0px;
    font-size: 0.9em;
    color: var(--gray);
}

.btn-gray-sq svg {
    vertical-align: text-top;
}

.page_each_c {
    margin: 0 auto;
    text-align: center;
    display: table;
}

.showpage {
    position: absolute;
    left: -55px;
    top: 10px;
}

.bggray{
    background-color: var(--lightgray);
    color: var(--gray);
    padding: 10px;
}
*/

.page_each_c .page-link {
    background-color: lightgray;
    color: gray;
    border: none;
}

.page_each_c .page-item.active .page-link {
    background-color: blue;
    border: none;
}

/*
.list_status_sec ul li{
    list-style: none;
}
*/
/*----------- RESPONSIVE --------------*/
/*@media (max-width: 1299px) {
    ...
}

@media (max-width: 1199px) {
    ...
}

@media (max-width: 991px) {
    ...
}

@media (max-width: 767px) {
    ...
}

@media (max-width: 575px) {
    ...
}
*/